{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card border-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Contacts</div>
      <div class="card-body">
        <h5 class="card-title">You can contact me via</h5>
        <a href="https://tg.me/ROQVIE" target="_blank"><p><i class="fab fa-telegram"></i>Telegram</p></a>
        <a href="https://vk.com/Roqvie" target="_blank"><p><i class="fab fa-vk"></i>VK</p></a>
      </div>
    </div>
  </div>
  <div class="col">
  </div>
  <div class="col">
  </div>
</div>
{% endblock %}
