{% block choice %}
<div class="choice-wrapper g-4 mt-5" id="choices">
  <div class="scene">
    <div class="flip-card">
      <div class="card__face card__face--front">
        <img class="image-choice image-{{ type }} card-img-top rounded-3 img-fluid">
      </div>
      <div class="card__face card__face--back rounded-3 d-flex justify-content-center"></div>
    </div>
  </div>
  <div class="scene">
    <div class="flip-card">
      <div class="card__face card__face--front">
        <img class="image-choice image-{{ type }} card-img-top rounded-3 img-fluid">
      </div>
      <div class="card__face card__face--back rounded-3 d-flex justify-content-center"></div>
    </div>
  </div>
  <div class="scene">
    <div class="flip-card">
      <div class="card__face card__face--front">
        <img class="image-choice image-{{ type }} card-img-top rounded-3 img-fluid">
      </div>
      <div class="card__face card__face--back rounded-3 d-flex justify-content-center"></div>
    </div>
  </div>
  <div class="scene">
    <div class="flip-card">
      <div class="card__face card__face--front">
        <img class="image-choice image-{{ type }} card-img-top rounded-3 img-fluid">
      </div>
      <div class="card__face card__face--back rounded-3 d-flex justify-content-center"></div>
    </div>
  </div>
</div>
{% endblock %}